body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}

.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  background-color: none;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}


.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
  margin-top: 192px;
  margin-left: 151px;
  color: rgba(0,0,0,.8);
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 27px;
  margin-left: 152px;
}

.mainSection.right {
  background-color: #879696;
}

.mainSection.right section {
  top: 181px;
  right: 160px;
}

.mainSection.right h2 {
  color: white;
  margin-left: 792px;
}

.mainSection.right p {
  color: white;
  margin-left: 792px;
}

.mainSection.center {
  text-align: center;
  background-color: #879696;
}

.mainSection.center h2 {
  font-size: 44px;
  line-height: 57px;
  margin-left: -16px;
  margin-top: 191px;
  color: white;
}

.mainSection.center p {
  margin-top: 24px;
  margin-left: -12px;
  color: white;
}

.mainSection section figure {
  width: 46px;
  height: 20px;
  margin-top: 50px;
  margin-left: 144px;
  background-image: url(../images/pat.svg);
}

.mainSection.left section figure {
  margin-left: 144px;
}

.mainSection.right section figure {
  margin-left: 784px;
}


.mainSection.center section nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

.mainSection.center section nav a {
  margin: 10px 0;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 140px;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 168px;
  width: 530px;
  height: 660px;
  background-image: url(../images/landing/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  top: 193px;
  right: 1148px;
  width: 140px;
  height: 318px;
  background-image: url(../images/landing/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 193px;
  right: 975px;
  width: 140px;
  height: 395px;
  background-image: url(../images/landing/works.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup4 {
  top: 193px;
  right: 802px;
  width: 140px;
  height: 474px;
  background-image: url(../images/landing/work.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup5 {
  top: 343px;
  right: 48px;
  width: 760px;
  height: 403px;
  background-image: url(../images/landing/screens.png);
}
