.menubar {
  width: 100%;
}

.menubar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  height: 59px;
  padding: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.logo {
  display: block;
  width: 86px;
  height: 25px;
  background-image: url(../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width: 1180px) {
  .menubar div {
    padding: 13px;
    height: 44px;
  }

  .logo {
    width: 61px;
    height: 18px;
  }
}
