.btns {
  display:  inline-block;
  border-width: 1px;
  text-align: center;
  margin-left: 4px;
}

.small {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

.large {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background-color: #77FFE1;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

@media screen and (max-width: 1180px) {
  .large {
    width: 228px;
    height: 38px;
    line-height: 40px;
    font-weight: bold;
    font-size: 17px;
  }

  .small {
    height: 33px;
    font-size: 13px;
  }
}
